.gallery-content * {
    box-sizing: border-box;
}

.gallery-content {
    width: 100%;
    float: left;
}

.gallery-content .item img {
    width: 100%;
    height: auto;
}

.gallery-content .item {
    width: 31.333%;
    float: left;
    transition-property: width;
    transition-duration: 0.2s;
}

.gallery-content.template-0 .item {
    width: 32.666%;
}

.gallery-content .item a {
    float: left;
    width: 100%;
    line-height: 0;
}

.gallery-content figcaption {
    display: block;
    background-color: #F2F2F2;
    padding: 2.35em 1.5em;
    clear: both;
    text-align: center;
}

.gallery-content .item a:hover {
    text-decoration: none;
}

.gallery-content.template-0 .space {
    width: 1%;
    float: left;
    height: 0.85vw;
    min-height: 1px;
    max-height: 14.23px;
}

.gallery-content.template-1 .space {
    width: 3%;
    float: left;
    max-height: 48px;
    height: 2.8vw;
    min-height: 1px;
}

.gallery-content .space:nth-child(3n) {
    width: 100%
}

/* Less columns for smaller width, breakpoints controlled in TS constants*/
.gallery-content.break-two .item {
    width: 47.5%
}

.gallery-content.break-two .space:nth-child(2n) {
    width: 5%
}

.gallery-content.break-two .space:nth-child(4n) {
    width: 100%
}

.gallery-content.break-one .item {
    width: 100%
}

.gallery-content.break-one .space {
    display: block;
    width: 100%;
}

.gallery-content .space:last-child {
    display: none;
}
