<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="NoHeader" />
	<f:section name="Main">
		<f:if condition="{data.tx_brightsidecontent_template} == 0">
			<div class="brightsidedownloads template-{data.tx_brightsidecontent_template}">
				<f:for each="{media}" as="file">
					<div class="item">
						<div class="title">
							{f:if(condition: file.properties.title, then: file.properties.title, else: file.name) -> f:format.htmlspecialchars()}
								– <span class="extension">{file.properties.extension}</span>
								<f:format.bytes value="{file.properties.size}" />
						</div>
						<div class="desc">{file.properties.description}</div>
						<div class="link">
							<a class="btn" href="{file.publicUrl}" {f:if(condition:data.target,then: ' target="{data.target}"')}{f:if(condition: file.title, then: ' title="{file.title}"')}>Download</a>
						</div>
					</div>
				</f:for>
			</div>
		</f:if>
		<f:if condition="{data.tx_brightsidecontent_template} == 1">
			<div class="brightsidedownloads template-{data.tx_brightsidecontent_template}">
				<f:for each="{media}" as="file">
					<div class="item">
						<div class="title">{f:if(condition: file.properties.title, then: file.properties.title, else: file.name) -> f:format.htmlspecialchars()}</div>
						<div class="desc">{file.properties.description}</div>
						<div class="link">
							<a class="brightsidevacancy-downloadlink" href="{file.publicUrl}" {f:if(condition:data.target,then: ' target="{data.target}"')}{f:if(condition: file.title, then: ' title="{file.title}"')}>
								<f:if condition="{file.properties.extension} == pdf">
									<f:then><i class="far fa-file-pdf"></i></f:then>
									<f:else><i class="far fa-file"></i></f:else>
								</f:if>Download
							</a>
						</div>
					</div>
				</f:for>
			</div>
		</f:if>

	</f:section>
</html>
