<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Clean" />
	<f:section name="Main">
		<div
			class="brightsideslide template-{data.tx_gallerycontent_template}"
			style='background-image: url(<f:uri.image image="{assets.0}" cropVariant="slide" width="2300" />);'
		>
			<div class="content">
				<b class="title">{data.header}</b>
				<h1 class="subtitle">{data.subheader}</h1>
				<div class="text"><f:format.raw>{data.bodytext}</f:format.raw></div>
				<f:if condition="{data.tx_brightsidecontent_link}">
					<f:link.typolink parameter="{data.tx_brightsidecontent_link}" class="btn">
						<f:if condition="{data.tx_brightsidecontent_linktext}">
							<f:then>{data.tx_brightsidecontent_linktext}</f:then>
							<f:else>MEHR ERFAHREN</f:else>
						</f:if>
					</f:link.typolink>
				</f:if>
			</div>
		</div>
	</f:section>
</html>
